In [1]:
import pandas as pd

#https://www.ncbi.nlm.nih.gov/geo/download/?format=file&type=rnaseq_counts&acc=GSE109607
#https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE109607

import rpy2.robjects as ro
#from biomart import BiomartServer
#import sys
#import gget

%load_ext rpy2.ipython

In [2]:
#server = BiomartServer( "http://www.ensembl.org/biomart/martservice" )

In [3]:
#server.show_databases()

In [4]:
#ncbi = server.databases['ENSEMBL_MART_ENSEMBL']
#ncbi = ncbi.datasets["hsapiens_gene_ensembl"]
#ncbi.show_attributes()

In [5]:
#ncbi.fetch_attributes()

In [6]:
%%R
library(org.Hs.eg.db)

 要求されたパッケージ AnnotationDbi をロード中です
 要求されたパッケージ stats4 をロード中です
 要求されたパッケージ BiocGenerics をロード中です

 次のパッケージを付け加えます: ‘BiocGenerics’

 以下のオブジェクトは ‘package:stats’ からマスクされています:

    IQR, mad, sd, var, xtabs

 以下のオブジェクトは ‘package:base’ からマスクされています:

    Filter, Find, Map, Position, Reduce, anyDuplicated, aperm, append,
    as.data.frame, basename, cbind, colnames, dirname, do.call,
    duplicated, eval, evalq, get, grep, grepl, intersect, is.unsorted,
    lapply, mapply, match, mget, order, paste, pmax, pmax.int, pmin,
    pmin.int, rank, rbind, rownames, sapply, setdiff, sort, table,
    tapply, union, unique, unsplit, which.max, which.min

 要求されたパッケージ Biobase をロード中です
Welcome to Bioconductor

    Vignettes contain introductory material; view with
    'browseVignettes()'. To cite Bioconductor, see
    'citation("Biobase")', and for packages 'citation("pkgname")'.

 要求されたパッケージ IRanges をロード中です
 要求されたパッケージ S4Vectors をロード中です

 次のパッケージを付け加えます: ‘S4Vectors’

 以下のオブジェクトは ‘package:utils’ からマスクされています:

    findMatches

 以下のオブジェクトは ‘package:base’ からマスクされています:

    I, expand.grid, unname

In [7]:
df = pd.read_csv("./data/GSE109607_norm_counts_TPM_GRCh38.p13_NCBI.tsv.gz", index_col=0, sep="\t")

sample_ids = {k: v for k, v in zip(df.columns[1:], """
GSM2947130	GSM2947131	GSM2947132	GSM2947133	GSM2947134	GSM2947135	GSM2947136	GSM2947137	GSM2947138	GSM2947139	GSM2947140	GSM2947141	GSM2947142	GSM2947143	GSM2947144	GSM2947145	GSM2947146	GSM2947147	GSM2947148	GSM2947149	GSM2947150	GSM2947151	GSM2947152	GSM2947153	GSM2947154	GSM2947155	GSM2947156	GSM2947157	GSM2947158	GSM2947159
""".strip().split("\t"))}

sample_names = """
GSM2947130	D-C1
GSM2947131	D-C2
GSM2947132	D-OPC1
GSM2947133	D-OPC2
GSM2947134	D-GSE1
GSM2947135	D-GSE2
GSM2947136	S6-C1
GSM2947137	S6-C2
GSM2947138	S6-OPC1
GSM2947139	S6-OPC2
GSM2947140	S6-GSE1
GSM2947141	S6-GSE2
GSM2947142	HCT-C1
GSM2947143	HCT-C2
GSM2947144	HCT-OPC1
GSM2947145	HCT-OPC2
GSM2947146	HCT-GSE1
GSM2947147	HCT-GSE2
GSM2947148	HT-C1
GSM2947149	HT-C2
GSM2947150	HT-OPC1
GSM2947151	HT-OPC2
GSM2947152	HT-GSE1
GSM2947153	HT-GSE2
GSM2947154	S4-C1
GSM2947155	S4-C2
GSM2947156	S4-OPC1
GSM2947157	S4-OPC2
GSM2947158	S4-GSE1
GSM2947159	S4-GSE2
""".strip().split("\n")
sample_names = [x.split("\t") for x in sample_names]
sample_names = {k: v for k, v in sample_names}

#df = df.rename(columns=sample_ids)
df.index = df.index.astype(str)
df

,GSM2947130,GSM2947131,GSM2947132,GSM2947133,GSM2947134,GSM2947135,GSM2947136,GSM2947137,GSM2947138,GSM2947139,...,GSM2947150,GSM2947151,GSM2947152,GSM2947153,GSM2947154,GSM2947155,GSM2947156,GSM2947157,GSM2947158,GSM2947159
GeneID,,,,,,,,,,,,,,,,,,,,,
100287102,0.5214,0.3004,0.5796,0.4250,0.3306,0.2200,0.9053,0.9207,1.2860,0.9921,...,0.8771,0.8065,0.9269,0.6063,0.3759,0.3208,0.5916,0.3723,0.3349,0.3713
653635,18.0200,16.2700,16.4200,14.3400,10.5000,9.9660,25.0600,25.4600,36.9800,38.1500,...,20.1100,15.8200,13.7300,15.0800,16.9900,18.5700,27.4000,21.4400,22.8300,18.2600
102466751,18.3000,14.6000,18.7700,10.3200,8.0320,5.3450,14.0000,12.0400,15.6200,17.5300,...,7.7490,8.9060,6.4340,9.2060,5.4790,7.7940,8.6230,7.5370,9.2990,9.0210
107985730,0.0000,0.0000,0.0000,0.1864,0.0000,0.1689,1.0110,1.3050,0.3948,1.1080,...,0.0000,0.0000,0.0000,0.0000,0.9233,0.6567,1.0900,0.7621,0.5877,0.5701
100302278,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.9852,0.8478,0.0000,1.0800,...,0.0000,0.0000,0.0000,0.0000,0.8999,0.6400,0.0000,0.7428,0.5727,0.7408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4541,18070.0000,12050.0000,19120.0000,13130.0000,18680.0000,13540.0000,7062.0000,6495.0000,2936.0000,3605.0000,...,8549.0000,9279.0000,9955.0000,10600.0000,6793.0000,8400.0000,8599.0000,7988.0000,10260.0000,8759.0000
4556,8573.0000,6175.0000,10030.0000,6798.0000,10060.0000,7076.0000,3035.0000,2827.0000,1871.0000,2166.0000,...,4347.0000,4967.0000,5496.0000,5997.0000,3690.0000,4596.0000,4464.0000,4039.0000,5095.0000,4472.0000
4519,26190.0000,16740.0000,24890.0000,16490.0000,25250.0000,19480.0000,9914.0000,10120.0000,5538.0000,6737.0000,...,12380.0000,12530.0000,13230.0000,14780.0000,12640.0000,15750.0000,15270.0000,13910.0000,18800.0000,15860.0000
4576,578.6000,440.6000,570.6000,425.5000,572.1000,413.1000,591.2000,530.0000,263.9000,304.8000,...,1335.0000,1400.0000,1316.0000,1698.0000,858.0000,1021.0000,1010.0000,883.7000,964.0000,948.0000
4571,655.9000,467.0000,403.6000,352.5000,470.9000,378.2000,661.8000,519.6000,281.1000,273.9000,...,1232.0000,1354.0000,1219.0000,1477.0000,982.6000,1040.0000,850.8000,836.6000,957.8000,847.9000

In [8]:
entrezid = df.index.astype(str)

In [9]:
%%R -i entrezid -o r_symbols -o r_emsembls

r_symbols <- select(
       x = org.Hs.eg.db,
       keys = entrezid,
       keytype = "ENTREZID",
       columns = c("SYMBOL"))

r_emsembls <- select(
       x = org.Hs.eg.db,
       keys = entrezid,
       keytype = "ENTREZID",
       columns = c("SYMBOL", "ENSEMBL"))

'select()' returned 1:1 mapping between keys and columns
'select()' returned 1:many mapping between keys and columns

In [10]:
symbols = r_symbols.copy().set_index("ENTREZID")
symbols.index = symbols.index.astype(str)

emsembls = r_emsembls.copy().set_index("ENTREZID")
emsembls.index = emsembls.index.astype(str)

symbols

                SYMBOL
ENTREZID
100287102      DDX11L1
653635          WASH7P
102466751    MIR6859-1
107985730  MIR1302-2HG
100302278    MIR1302-2
...                ...
4541               ND6
4556              TRNE
4519              CYTB
4576              TRNT
4571              TRNP

[39376 rows x 1 columns]

In [11]:
emsembls.drop(["SYMBOL"], axis=1).reset_index().drop_duplicates(subset="ENTREZID").set_index("ENTREZID")

                   ENSEMBL
ENTREZID
100287102  ENSG00000290825
653635                None
102466751  ENSG00000278267
107985730             None
100302278  ENSG00000284332
...                    ...
4541       ENSG00000198695
4556                  None
4519       ENSG00000198727
4576                  None
4571                  None

[39376 rows x 1 columns]

In [12]:
sample_df = df.copy()
sample_df = sample_df.merge(symbols, left_index=True, right_index=True, how="outer")

sample_df = sample_df.merge(
    emsembls.drop(["SYMBOL"], axis=1).reset_index().drop_duplicates(subset="ENTREZID").set_index("ENTREZID"),
    left_index=True, right_index=True, how="outer"
)

_index = []
for ind, row in sample_df.iterrows():
    if row["SYMBOL"] is not None:
        _index.append(row["SYMBOL"])
    elif row["SYMBOL"] is not None:
        _index.append(row["ENSEMBL"])
    else:
        _index.append(ind)

sample_df.index = _index
sample_df = sample_df.drop(["SYMBOL", "ENSEMBL"], axis=1)
sample_df.columns = sample_df.columns.map(lambda x: sample_names[x])

sample_df

,D-C1,D-C2,D-OPC1,D-OPC2,D-GSE1,D-GSE2,S6-C1,S6-C2,S6-OPC1,S6-OPC2,...,HT-OPC1,HT-OPC2,HT-GSE1,HT-GSE2,S4-C1,S4-C2,S4-OPC1,S4-OPC2,S4-GSE1,S4-GSE2
A1BG,0.19810,0.2054,0.4247,0.2965,0.24230,0.24180,0.3216,0.27680,0.43960,0.57270,...,0.0779,0.1074,0.09702,0.07404,0.18360,0.18280,0.05779,0.09093,0.11690,0.06046
NAT2,0.00000,0.0000,0.0000,0.0000,0.03928,0.05228,0.0000,0.06732,0.00000,0.08573,...,0.0000,0.1394,0.12590,0.00000,0.00000,0.00000,0.00000,0.05898,0.09095,0.00000
ADA,23.53000,30.6400,22.0200,27.6800,19.81000,34.65000,15.6200,19.90000,27.26000,32.61000,...,0.3382,0.4664,0.77220,1.04500,16.26000,18.14000,13.42000,16.71000,14.97000,12.47000
CDH2,0.04176,0.0000,0.0000,0.0000,0.00000,0.00000,0.0000,0.00000,0.04633,0.00000,...,0.0000,0.0000,0.00000,0.00000,0.05418,0.03854,0.00000,0.00000,0.01724,0.02230
AKT3,8.68700,9.2840,8.8200,8.7670,6.93200,8.73200,17.0000,16.10000,14.44000,14.95000,...,0.4113,0.2801,0.25300,0.15930,12.92000,11.93000,13.36000,13.48000,12.56000,13.16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PTBP3,55.13000,65.7500,57.3500,64.1400,44.72000,53.19000,70.0700,69.47000,85.71000,87.56000,...,127.0000,106.0000,111.70000,92.52000,87.43000,81.79000,87.73000,90.10000,81.39000,77.47000
KCNE2,0.11920,0.1236,0.0000,0.1249,0.08502,0.11320,0.1693,0.14570,0.26450,0.18550,...,0.1640,0.0000,0.00000,0.00000,0.15470,0.11000,0.24340,0.25530,0.19690,0.00000
DGCR2,18.01000,22.5300,19.3600,23.0000,15.88000,20.73000,24.0300,25.47000,35.83000,34.34000,...,71.8400,59.2300,55.36000,54.05000,21.36000,21.54000,26.80000,24.82000,23.98000,22.25000
CASP8AP2,17.16000,15.9600,14.4700,12.3300,9.81400,9.83300,19.9000,18.37000,16.00000,17.53000,...,15.8300,14.1600,13.01000,10.00000,17.92000,15.52000,12.39000,12.00000,7.31800,7.03900
SCO2,5.13700,7.2250,4.4590,6.5630,4.71900,7.75100,4.9990,5.59200,6.55900,7.12100,...,5.7150,5.2540,4.26300,5.06300,4.56600,5.26100,5.46100,5.27600,5.92800,6.31400

In [15]:
sample_df.to_csv("./data/bulkRNASeq_TPM-prep-SampleName.csv", index_label="Symbol")

In [16]:
ht_sample_df = sample_df.copy()
ht_sample_df = ht_sample_df[[x for x in ht_sample_df.columns if "HT" in x]]

#ht_sample_df.loc["Group"] = ht_sample_df.columns.map(lambda x: x[:-1])
#ht_sample_df = ht_sample_df.loc[["Group", "SFN", "CDKN1A", "MAD1L1", "CCNE2", "E2F1", "TGFB3"]]
ht_sample_df = ht_sample_df.loc[["SFN", "CDKN1A", "MAD1L1", "CCNE2", "E2F1", "TGFB3"]]
ht_sample_df.T.to_csv("../../data/bulkRNASeq_TPM-prep-HT.csv")
ht_sample_df

          HT-C1    HT-C2  HT-OPC1   HT-OPC2  HT-GSE1   HT-GSE2
SFN     109.900  136.300  186.600  175.7000  193.500  194.7000
CDKN1A   15.990   20.810   53.710   46.1200   45.990   55.9600
MAD1L1   11.980   13.080   14.210   12.1300   10.920   11.7600
CCNE2     6.862    7.282    6.255    6.9070    4.911    4.4270
E2F1     39.310   44.130   40.060   38.9500   28.100   30.4900
TGFB3     2.144    1.361    1.295    0.8241    1.075    0.6942